<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mysqlbackup.mysql" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mysqlbackup.mysql>
            <setting name="mysql_username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="mysql_password" serializeAs="String">
                <value>toor</value>
            </setting>
            <setting name="mysql_database" serializeAs="String">
                <value>database1</value>
            </setting>
        </mysqlbackup.mysql>
    </userSettings>
</configuration>